<p id="notice"><%= notice %></p>


<%= link_to 'Back', root_path %>

<h3>Idea Name</h3>
<p><%= @idea.name %></p>

<h3>Idea Description</h3>
<p><%= @idea.description %></p>

<h3>Number of participants</h3>
<p><%= @idea.capacity %></p>

<h3>sucess</h3>
<p><%= @idea.success_criteria %></p>

<h3>goodwill</h3>
<p><%= @idea.goodwill %></p>

<h3>logistics</h3>
<p><%= @idea.logistics %></p>

<h3>features</h3>
<p><%= @idea.features %></p>

<h3>formality</h3>
<p><%= @idea.formality %></p>


