<%= form_for([:admin, @space]) do |f| %>
  <% if @space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% @space.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
 <%= f.label "Published" %>
    <%= f.select :published, [:true, :false] %>

    <%= f.label :name %>
    <%= f.text_field :name %>


    <%= f.label :contact %>
    <%= f.text_field :contact %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :capacity %>
    <%= f.text_field :capacity, :class => "span1" %> People

    <%= f.label "benefit" %>
    <%= f.text_area :benefit %>

    <%= f.label "goodwill" %>
    <%= f.text_area :goodwill %>


    <%= f.label :long_description %>
    <%= f.text_area :long_description %>

    <%= f.label :satisfaction %>
    <%= f.text_area :satisfaction %>


    <%= f.label :formality %>
    <%= f.text_area :formality %>

    <%= f.label "Archived" %>
    <%= f.select :archived, [:true, :false] %>

    <br/><br/>
    <%= f.submit :class => "btn btn-primary" %>

  </div>
<% end %>
