<%= render "admin/shared/navigation" %>

<h3>Spaces</h3>

<%= link_to 'New Space', new_admin_space_path, :class => "btn btn-success pull-right", :style=>"margin:10px" %>

<table class="table table-striped">
  <tr>
    <th>Created on</th>
    <th>Published?</th>
    <th>Name</th>
    <th>Description</th>
    <th>Contact Info</th>
    <th colspan="2" style="width:15%"></th>
  </tr>

<% @spaces.each do |space| %>
  <tr>
    <td><%= space.created_at.to_s(:long) %></td>
    <td><%= space.published == true ? "yes" : "no" %></td>
    <td><%= space.name %></td>
    <td><%= space.description %></td>
    <td><%= space.contact %></td>
    <td><%= link_to 'Edit', edit_admin_space_path(space), :class => "btn" %></td>
    <td><%= link_to 'Destroy', admin_space_path(space), confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>