<p><a id="goto_step1" class="btn" href="#spaceModal" data-toggle="modal">I have a space</a></p>

<div class="modal fade" id="spaceModal"> 
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Yeah!  Tell us about your awesome space!</h3>
  </div>
  <%= form_for(@space) do |f| %>
  <div class="modal-body">
    <% if @space.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@space.errors.count, "error") %> prohibited this idea from being saved:</h2>

        <ul>
        <% @space.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <div id="step1">
        <h4>Step 1 of 4</h4>
        <%= f.label "benefit" %>
        <%= f.text_area :benefit %>

        <%= f.label "goodwill" %>
        <%= f.text_area :goodwill %>
      </div>

      <div id="step2">
        <h4>Step 2 of 4</h4>
        <%= f.label :long_description %>
        <%= f.text_area :long_description %>

        <%= f.label :satisfaction %>
        <%= f.text_area :satisfaction %>
      </div>

      <div id="step3">
        <h4>Step 3 of 4</h4>

        <%= f.label :formality %>
        <%= f.text_area :formality %>

        <%= f.label :capacity %>
        <%= f.text_field :capacity, :class => "span1" %> People
        
      </div>

      <div id="step4">
        <h4>Step 4 of 4</h4>

        <%= f.label "Title of Idea" %>
        <%= f.text_field :name %>

        <%= f.label "Short Description" %>
        <%= f.text_field :description %>

        <%= f.label "My Contact information" %>
        <%= f.text_field :contact, :placeholder => "phone or email" %>

        <%= f.label "Address" %>
        <%= f.text_field :address, :placeholder => "street" %>

        <%= f.label "City" %>
        <%= f.text_field :city %>

        <%= f.label "state" %>
        <%= f.text_field :state %>

        <%= f.label "Zip" %>
        <%= f.text_field :zip %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a id="back_step1" href="#" class="btn">Back</a>
    <a id="back_step2" href="#" class="btn">Back</a>
    <a id="back_step3" href="#" class="btn">Back</a>


    <a id="goto_step2" href="#" class="btn btn-primary">Next</a>
    <a id="goto_step3" href="#" class="btn btn-primary">Next</a>
    <a id="goto_step4" href="#" class="btn btn-primary">Next</a>

    <%= f.submit "Submit for approval", :class => "btn btn-primary", :id => "complete_steps" %>
    <br/><br/>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
  <% end %>
</div>