<p class='btnContainer pull-right'><a id="goto_step1b" class="btn blue" href="#spaceModal" data-toggle="modal">I have a space</a></p>

<div class="modal fade" id="spaceModal"> 
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Yeah!  Tell us about your awesome space!</h3>
  </div>
  <%= form_for @space, :html => { :multipart => true }  do |f| %>
  <div class="modal-body">
    <% if @space.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@space.errors.count, "error") %> prohibited this idea from being saved:</h2>

        <ul>
        <% @space.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <div id="step1b">
        <h4>Step 1 of 4</h4>
        <%= f.label "How will having an event at your space be beneficial?" %>
        <%= f.text_area :benefit %>

        <%= f.label "How will you cultivate a good relationship with people using your space?" %>
        <%= f.text_area :goodwill %>
      </div>

      <div id="step2b">
        <h4>Step 2 of 4</h4>

        <%= f.label "Please describe your space" %>
        <%= f.text_area :long_description %>

        <%= f.label "What conditions need to be met for you to be happy with an event?" %>
        <%= f.text_area :satisfaction %>
      </div>

      <div id="step3b">
        <h4>Step 3 of 4</h4>

        <%= f.label "How formal does an agreement need to be?" %>
        <%= f.text_area :formality %>

        <%= f.label "Please upload a photo of your idea?" %>
        <%= f.file_field :photo %>
      </div>

      <div id="step4b">
        <h4>Step 4 of 4</h4>

        <%= f.label "Title of Idea" %>
        <%= f.text_field :name %>

        <%= f.label "Short Description" %>
        <%= f.text_field :description %>

        <%= f.label "My Contact information" %>
        <%= f.text_field :contact, :placeholder => "phone or email" %>


        <%= f.label "Address" %>
        <%= f.text_field :address, :placeholder => "street" %>

        <div class="form-inline">
          <%= f.label "City" %>
          <%= f.text_field :city %>
        </div>

        <div class="form-inline">
          <%= f.label "state" %>
          <%= f.text_field :state %>
          
          <%= f.label "Zip" %>
          <%= f.text_field :zip %>
        </div>

        

      </div>
    </div>
  </div>
  <div class="modal-footer">
    
    <span id="back_step1b" class="btn">Back</span>
    <span id="back_step2b" class="btn">Back</span>
    <span id="back_step3b" class="btn">Back</span>

    <span id="goto_step2b" class="btn btn-primary">Next</span>
    <span id="goto_step3b" class="btn btn-primary">Next</span>
    <span id="goto_step4b" class="btn btn-primary">Next</span>

    <%= f.submit "Submit for approval", :class => "btn btn-primary", :id => "complete_stepsb" %>
    <br/><br/>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
  <% end %>
</div>