<%= form_for([:admin, @match]) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label "Space" %>
    <%= f.select :space_id, Space.all.collect {|s| [ s.name, s.id ] } %>

    <%= f.label "Idea" %>
    <%= f.select :idea_id, Idea.all.collect {|i| [ i.name, i.id ] } %>
    <br/><br/>
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
