<%= form_for([:admin, @match]) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label "Space" %>
    <%= f.select :space_id, Space.all.collect {|s| [ s.name, s.id ] } %>

    <%= f.label "Idea" %>
    <%= f.select :idea_id, Idea.all.collect {|i| [ i.name, i.id ] } %>

    <%= f.label "Published?" %>
    <%= f.select :published, [:true, :false] %>
    
    <%= f.label "Archived?" %>
    <%= f.select :archived, [:true, :false] %>

    <%= f.label "Start" %>
    <%= f.datetime_select :start_datetime %>

    <%= f.label "End" %>
    <%= f.datetime_select :end_datetime %>

    <%= f.label "Event URL" %>
    <%= f.text_field :url, :placeholder => "eventbrite link or other" %>


    <%= f.label "Comments" %>
    <%= f.text_area :comments, :placeholder => "any success notes?" %>


    <br/><br/>
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
