<%= render "admin/shared/navigation" %>


<h1>Manage Matches</h1>

<table class="table table-stripped">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= link_to 'Show', admin_match %></td>
    <td><%= link_to 'Edit', edit_admin_match_path(match) %></td>
    <td><%= link_to 'Destroy', admin_match, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_admin_match_path %>
