<div class="row">
  <div class="span3">
    <h2>Ideas</h2>
    <dl>
      <% @ideas.each do |idea| %>
        <dt><%= idea.name %></dt>
        <dd style="float:left;width:40px;"><img src="http://placehold.it/50x50" alt=""></dd>
        <dd style="padding:5px;"><%= idea.description %></dd>
        <dd style="font-size:10px"><%= link_to "more info", idea_path(idea) %></dd>
      <% end %>
    </dl>
    <%= render 'ideas/new_modal' %>
 
  </div>
  
  <div class="span6">
    <h2>It's a match</h2>
    <dl>
      <% @matches.each do |match| %>
      <dd style="float:left;"><img src="http://placehold.it/100x100" alt=""></dd>
      <dd style="padding:5px;">EVENT NAME</dd>
      <dd style="padding:5px;"><%= match.idea.name %> &amp; <%= match.space.name %></dd>
      <dd>November 21st, 2011</dd>
      <% end %>
    </dl>
  </div>

  <div class="span3">
    <h2>Spaces</h2>
    <dl>
      <% @spaces.each do |space| %>
        <dt><%= space.name %></dt>
        <dd style="float:left;width:40px;"><img src="http://placehold.it/50x50" alt=""></dd>
        <dd style="padding:5px;"><%= space.description %></dd>
      <% end %>
    </dl>
    <%= render 'spaces/new_modal' %>
  </div>
</div>


