<!DOCTYPE html>
<html>
<head>
  <title>PopUpBurlington</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div>
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Pop Up Burlington", root_url, :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li></li>
          <li></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  
  <% if flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
  <% end %>
  

  <% if controller.controller_path == "matches" %>
  <div class="hero-unit">
    <div class="row">
      <div class="span4 video">
         <iframe width="346" height="260" src="http://www.youtube.com/embed/tzeG7ZTcWg0?wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>

    <div id="myCarousel">
      <div class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <img src="http://placehold.it/545x260" alt="">
                <div class="carousel-caption">
                  <h4>Caption</h4>
                </div>
          </div>
          <div class="item">…</div>
          <div class="item">…</div>
        </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    </div>
  </div>
  <% end %>

  <!-- Example row of columns -->
  <%= yield %>

  <hr>

  <footer>
    <p>
      contact : Amy Kirschner

      <div class="pull-right">
      about FAQ Terms Privacy
      <%= link_to "admin", admin_matches_path %>
    </div>
    </p>
  </footer>

</div> <!-- /container -->

</body>
</html>



