<!DOCTYPE html>
<html>
<head>
  <title>PopUpBurlington</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" style="height:60px;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Pop Up Burlington", root_url, :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li></li>
          <li></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <% unless controller.controller_path =~ /admin/ %>
  <div class="hero-unit">
    <div class="row">
      <div class="span5">
         <iframe width="420" height="315" src="http://www.youtube.com/embed/tzeG7ZTcWg0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="span5">
        <h1>Featured matches</h1>
        <p>between this and thats</p>
      </div>
    </div>
  </div>
  <% end %>

  <!-- Example row of columns -->
  <%= yield %>

  <hr>

  <footer>
    <p>
      contact : Amy Kirschner

      <div class="pull-right">
      about FAQ Terms Privacy
      <%= link_to "admin", admin_matches_path %>
    </div>
    </p>
  </footer>

</div> <!-- /container -->

</body>
</html>



