<!DOCTYPE html>
<html>
<head>
  <title>PopUpBurlington</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div>
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Pop Up Burlington (alpha)", root_url, :class => "brand", :style => "margin-top:4px" %>
      <div class="nav-collapse">
        <ul class="nav pull-right" style="margin-top:4px">
          <li><p><a id="goto_step1a" href="#ideaModal" data-toggle="modal" style="color:#fff;margin-right:10px">I have an idea!</a></p></li>
          <li><p><a id="goto_step1b" href="#spaceModal" data-toggle="modal" style="color:#fff">I have a space!</a></p></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  
  <% if flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
  <% end %>
  

  <% if controller.controller_path == "matches" %>
  <div class="hero-unit">
    <div class="row">
      <div class="span4 video">
        <iframe width="346" height="260" src="http://www.youtube.com/embed/3kt2-Jq99ww?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
      </div>

    <div id="myCarousel">
      <div class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <%= image_tag "Tweetup.png" %>
                <div class="carousel-caption">
                  <h4>Inspiration for Pop Up Burlington!</h4>
                </div>
          </div>
          <div class="item">…</div>
          <div class="item">…</div>
        </div>
      <!-- Carousel nav -->
     <!--  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
      </div>
    </div>

    </div>
  </div>
  <% end %>

  <!-- Example row of columns -->
  <%= yield %>

  <hr>

  <footer>

    <div class="pull-left">Contact : <a href="mailto:amy.kirschner@gmail.com">Amy Kirschner</a></div>
    
    <div class="pull-right">
         <%= link_to "about", about_url %> | 
         <%= link_to "FAQ", faq_url %> | 
         <%= link_to "Terms", terms_url %> | 
         <%= link_to "Privacy", privacy_url %> | 
         <%= link_to "Admin", admin_matches_path %>
    </div>

    <div class="logos">
      <img class="cedo" src="/assets/footer_cedo.jpg">
      <img class="vbsr" src="/assets/footer_vbsr.png">
      <img class="one" src="/assets/footer_one.jpg">
      <img class="popup" src="/assets/footer_popup.png">
      <img class="agilion" src="/assets/footer_agilion.png">
      <img class="rhok" src="/assets/footer_rhok.jpg">
    </div>

  </footer>

</div> <!-- /container -->

</body>
</html>



